# **Co2 Emissions and Economic**

```
ðŸ“Œ https://data.worldbank.org/indicator/NY.GDP.PCAP.CD 
ðŸ“Œ https://data.worldbank.org/indicator/EN.ATM.CO2E.PC 
ðŸ“Œ https://github.com/owid/energy-data 
ðŸ“Œ https://carbonpricingdashboard.worldbank.org/map_data 
```

`Some visualizations won't appear, please open it in Colab`

<a href="https://colab.research.google.com/github/nurimammasri/Air-Quality-Index-Analysis-and-Correlation-Effect/blob/main/01.%20Most%20Polluted%20Cities%20and%20Countries%20(IQAir%20Index).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno
!pip install squarify
import squarify as sq

import plotly.express as px
import plotly.graph_objs as go
import plotly.offline as pyoff
import warnings # Ignores any warning
warnings.filterwarnings("ignore")

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting squarify
  Downloading squarify-0.4.3-py3-none-any.whl (4.3 kB)
Installing collected packages: squarify
Successfully installed squarify-0.4.3

# **Load Data**

In [3]:
gdp = pd.read_csv("https://drive.google.com/uc?id=1rBgi4F_R9EhYerayeFvaRaRCPQV6N_IY")
gdp.head()

  Country Name  Year  GDP
0        Aruba  1960  0.0
1        Aruba  1961  0.0
2        Aruba  1962  0.0
3        Aruba  1963  0.0
4        Aruba  1964  0.0